* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #008080;
    color: #000;
    min-width: 850px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 15px;
}

.container {
    padding: 20px;
    margin: 5px auto;
    background-color: papayawhip;

}

h1, h2 {
    margin: 15px 0;
}

figcaption{
    font-size: 0.8rem;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

a:hover {
    color: papayawhip;
}

a:active {
    color: red;
}

/* a:visited {
    color: purple;
} */
